{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bg-transparent h-100">
        <div class="row h-100 justify-content-end align-items-center">
            <div class="col-7 col-md-8 my-auto">
                <h1 class="display-4 logo-font font-weight-bold text-warning text-md-end">
                    <span class="d-none d-sm-inline">Hurling equipment for your safety & enjoyment</span>
                    <span class="d-inline d-sm-none">Hurling gear</span>
                </h1>
                <div class="my-5 text-md-end">
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-lg rounded-2 logo-font font-weight-bold text-uppercase shop-now-button py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block newsletter %}
<footer class="footer">
<div id="newsletter_shell">
    <div id="newsletter_signup">
        <form action="https://herokuapp.us13.list-manage.com/subscribe/post?u=a65aa48b861806aaf5117b687&amp;id=d07971bb42&amp;f_id=00ca90e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="newsletter_signup_scroll">
                <h2>Subscribe To Our Newsletter</h2>        
                <div class="mc-field-group">
                    <div class="input-wrapper">
                        <input type="email" name="EMAIL" class="required email" placeholder="Email Address" id="mce-EMAIL" required="" value="">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    </div>
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <input type="text" name="b_a65aa48b861806aaf5117b687_d07971bb42" tabindex="-1" value="">
                </div>
            </div>
        </form>
    </div>
</div>
</footer>
{% endblock %}