/* General container styling */
.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
h2.logo-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

/* Background image */
.background-image {
    background: url("https://res.cloudinary.com/dywqmlkp8/image/upload/v1717684272/AshClash%20images/grass_background_n4jzia.jpg") no-repeat;
    background-size: cover;
    border-radius: 8px;
}

/* Player section styling */
.row.mb-4 {
    margin-bottom: 2rem !important;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
}

/* Player image styling */
.card-img-top.img-fluid {
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 300px;
    max-height: auto;
    object-fit: cover;
}

/* Player details */
.col-md-8 h3 {
    font-size: 1.5rem;
    color: #000000;
}

.col-md-8 p {
    font-size: 1rem;
    color: #000000;
    line-height: 1.6;
}

/* Product section styling */
.product {
    margin-top: 20px;
    background-color: #f4b300;
    max-width: 300px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.product .card-body {
    padding: 10px;
}

.product p {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000;
}

/* Product image styling */
.product img {
    border-radius: 8px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

/* Promotion paragraph styling */
.promotion-paragraph {
    margin-top: 10px;
    font-size: 1rem;
    color: #000000;
    line-height: 1.6;
}

/* Button styles (if needed) */
.btn-outline-black {
    border: 2px solid #000000;
    color: #000000;
    background-color: transparent;
    transition: all 0.3s;
}

.btn-outline-black:hover {
    background-color: #333;
    color: #f4b300;
}

.btn-black {
    background-color: #333;
    color: #f4b300;
    border: 2px solid #000000;
    transition: all 0.3s;
}

.btn-black:hover {
    background-color: #555;
    border-color: #555;
}

/* Admin action buttons */
.admin-actions {
    margin-top: 10px;
}

.admin-actions .btn {
    margin-right: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .col-md-4, .col-md-8 {
        text-align: center;
    }

    .col-md-8 h3 {
        margin-top: 10px;
    }

    .col-md-8 p {
        margin-top: 5px;
    }
}