{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'promotions/css/promotions.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-4 ml-3">
        <div class="product col-md-4">
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-4">
                    <h2 class="logo-font mb-4">Create Promotion</h2>
                        <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-black mt-3">Create Promotion</button>
                        </form>
                </div>
            </div>
            </div>
    </div>
</div>
{% endblock %}