{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'promotions/css/promotions.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="mt-4 pt-5">
        <h2 class="logo-font mb-4">Create Promotion</h2>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success mt-3">Create Promotion</button>
        </form>
    </div>
</div>
{% endblock %}