{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'promotions/css/promotions.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-4">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Who uses which product?</h2>
                <hr>
            </div>
        </div>
        {% for player in players %}
        <div class="background-image">
            <div class="row mb-4 ml-3">
                <div class="product col-md-4">
                    <h3>{{ player.name }}</h3>
                    {% if player.image %}
                    <a href="{% url 'promotional_page' %}">
                        <img class="card-img-top img-fluid" src="{{ player.image.url }}" alt="{{ player.name }}">
                    </a>
                    {% else %}
                        <img class="card-img-top img-fluid" src="{{ player.image_url }}" alt="{{ player.name }}">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="product pb-0">
                        <p><strong>Age:</strong> {{ player.age }}</p>
                        <p><strong>Team:</strong> {{ player.team }}</p>
                        <p><strong>Medals:</strong> {{ player.medals }}</p>
                        <p>{{ player.promotion_paragraph }}</p>
                    </div>
                </div>
                
                <div class="product col-md-3">
                    <div class="card-body pb-4">
                        <p class="mb-0">{{ player.product.name }}</p>
                    </div>
                    <a href="{% url 'product_detail' player.product.id %}">
                        {% if player.product.image %}
                        <img class="card-img-top img-fluid custom-img-size" src="{{ player.product.image.url }}" alt="{{ player.product.name }}">
                        {% elif player.product.image_url %}
                        <img class="card-img-top img-fluid custom-img-size" src="{{ player.product.image_url }}" alt="{{ player.product.name }}">
                        {% else %}
                        <img class="card-img-top img-fluid custom-img-size" src="https://res.cloudinary.com/dywqmlkp8/image/upload/v1715808884/AshClash%20Images/logo/logo_pl37is.jpg" alt="{{ player.product.name }}">
                        {% endif %}
                    </a>
                    {% if request.user.is_superuser %}
                    <div class="admin-actions mt-3">
                        <a href="{% url 'edit_promotion' player.id %}" class="btn btn-outline-black">Edit</a>
                        <a href="{% url 'delete_promotion' player.id %}" class="btn btn-outline-black">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}